<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8">
    <title>MY DUCK : READ</title>
    <!-- favicon -->
    <link rel="icon" href="/img/favicon.ico" />
    <!-- css -->
    <link href="/css/article.css" rel="stylesheet" />
</head>
<body>
    <main>
        <!-- header -->
        <header>
            <section>
                <a href="/articles"><img src="/img/logo.png" alt="My Duck Logo"></a>
                <a href="/articles">MY&nbspDUCK</a>
            </section>
            <address>
                2023 HANAH-J<br>ALL RIGHTS RESERVED.
            </address>
        </header>



        <!-- nav -->
        <nav>
            <ul>
                <!-- 로그인 하지 않은 사용자 -->
                <th:block sec:authorize="isAnonymous()">
                    <li><a href="bs?command=member_login_form">로그인</a></li>
                    <li><a href="bs?command=member_join_form">회원가입</a></li>
                </th:block>

                <!-- 로그인 한 사용자 -->
                <th:block sec:authorize="isAuthenticated()">
                    <li><a th:text="|${article.author} 님|"></a></li>
                    <li><a href="bs?command=member_logout">로그아웃</a></li>
                    <li><a href="bs?command=board_write_form">글쓰기</a></li>
                </th:block>
            </ul>
        </nav>



        <!-- section - board -->
        <section class="board">
            <article>
                <input type="hidden" id="article-id" th:value="${article.id}">
                <h1 th:text="${article.title}"></h1>
                <p th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></p>
                <p th:text="'조회수 ' + ${article.read_count}"></p>
                <div class="boardContent">
                    <p th:text="${article.content}"></p>
                </div>
            </article>
        </section>



        <!-- section - comment -->
        <section class="comment">
            <form>
                <%
                if(loginMember == null) {
                %>

                <%
                }else {
                %>
                <textarea name="commentContent" id="commentContent" placeholder="댓글을 입력하세요"></textarea>
                <button type="button" onclick="commentWrite()">완료</button>
                <%
                }
                %>
            </form>
            <article id="commentList">
                <c:forEach var="comment" items="${commentList}"></c:forEach>
            </article>
        </section>



        <!-- footer -->
        <footer>
            <%
            if(loginMember != null) {
            %>
            <a id="modify-btn" class="btn"
               th:onclick="|location.href='@{/new-article?id={articleId}(articleId=${article.id})}'|">수정</a>
            <a id="delete-btn" class="btn">삭제</a>
            <a href="/articles" class="btn">목록</a>
            <input type="hidden" name="boardNum" id="boardNum" value="${bVo.boardNum}">
            <%
            }
            %>

        </footer>
    </main>
</body>
<script src="/js/article.js"></script> <!--article.js 파일 추가-->
</html>