<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MY DUCK</title>
    <!-- favicon -->
    <link rel="icon" href="img/favicon.ico" />
    <!-- css -->
    <link href="css/articleList.css" rel="stylesheet" />
</head>
<body>
    <main>
        <!-- header -->
        <header>
            <section>
                <a href="/articles"><img src="img/logo.png" alt="MY DUCK logo"></a>
                <a href="/articles">MY DUCK</a>
            </section>
            <address>2023 HANAH-J<br>ALL RIGHTS RESERVED.</address>
        </header>



        <!-- nav -->
        <nav>
            <ul>
                <!-- 로그인 하지 않은 사용자 -->
                <th:block>
                    <li><a href="/login">로그인</a></li>
                    <li><a href="/signup">회원가입</a></li>
                </th:block>

                <!-- 로그인 한 사용자 -->
                <th:block>
                    <li><a>님</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                    <li><a id="create-btn" th:onclick="|location.href='@{/new-article}'|">글쓰기</a></li>
                </th:block>
            </ul>
        </nav>



        <!-- section -->
        <section th:each="item : ${articlePages}">
            <article>
                <div class="inner" th:onclick="|location.href='@{/articles/{id}(id=${item.id})}'|">
                    <div class="txt">
                        <h2 th:text="${item.title}"></h2>
                        <p th:text="${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')}"></p>
                        <p th:text="${item.content}"></p>
                        <figure></figure>
                    </div>
                </div>
            </article>
        </section>



        <!-- aside - search -->
        <aside class="search">
            <form action="searchWordAction.me" method="GET">
                <div>검색</div>
                <div>
                    <select name="option">
                        <option value="1" selected="selected">제목</option>
                        <option value="2">내용</option>
                    </select>
                    <input type="text" placeholder="검색어를 입력하세요."/>
                    <button type="submit">검색</button>
                </div>
            </form>
        </aside>



        <!-- pagination -->
        <footer>
            <ul>
                <!-- 첫 페이지로 이동 -->
                <li><a th:href="@{/articles(page=1)}"> << </a></li>

                <!-- 이전 페이지 버튼 -->
                <li><a th:href="${articlePages.first} ? '#' : @{/articles(page=${articlePages.number})}"> < </a></li>

                <!-- 페이지 번호 버튼 (현재 페이지는 이동 無) -->
                <li th:each="page: ${#numbers.sequence(startPage, endPage)}">
                    <span th:if="${page == articlePages.number + 1}" th:text="${page}" class="current_page"></span>
                    <span th:unless="${page == articlePages.number + 1}">
                        <a th:href="@{/articles(page=${page})}" th:text="${page}"></a>
                    </span>
                </li>

                <!-- 다음 페이지 버튼 -->
                <li><a th:href="${articlePages.last} ? '#' : @{/articles(page=${articlePages.number + 2})}"> > </a><li>

                <!-- 마지막 페이지로 이동 -->
                <li><a th:href="@{/articles(page=${articlePages.totalPages})}"> >> </a></li>
            </ul>
        </footer>
    </main>
<script src="/js/article.js"></script>
<script src="/js/token.js"></script>
</body>
</html>