<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>블로그 : 아이디 중복 체크</title>
</head>
<body>
  <h2>아이디 중복 체크</h2>
  <form action="bs" method="GET">
    <input type="hidden" name="command" value="member_join_idCheck">
    <input type="text" name="id" value="${id}">
    <button type="submit">중복체크</button><br>

    <c:if test="${result == 1}"> <!-- 중복된 아이디 有 -->
      <script type="text/javascript">
				document.checkIdForm.id.value = "";
	  </script>
      ${id}는 이미 사용 중인 아이디 입니다.
    </c:if>
    <c:if test="${result == -1}"> <!-- 중복된 아이디 無 -->
      ${id}는 사용 가능한 아이디 입니다.
      <button type="button" onclick="useId()">사용</button>
    </c:if>
  </form>
</body>
</html>