<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MY DUCK : LOGIN</title>
    <!-- favicon -->
    <link rel="icon" href="img/favicon.ico" />
    <!-- css -->
    <link href="css/login.css" rel="stylesheet" />
</head>
<body>
    <div>
        <section>
            <a href="bs?command=board_list"><img src="img/logo.png"></a>
            <a href="bs?command=board_list">MY DUCK</a>
        </section>
    </div>

    <form action="/login" method="POST">
        <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
        <table>
            <tr>
                <td><input type="email" name="email" placeholder="이메일" autocomplete="off" required></td>
            </tr>
            <tr>
                <td><input type="password" name="password" placeholder="비밀번호" required></td>
            </tr>
            <tr>
                <td><button type="submit">로그인</button></td>
            </tr>
            <tr>
                <td>
                    <a onclick="location.href='/signup'">회원가입</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">${message}</td>
            </tr>
        </table>
    </form>
</body>
</html>