<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
  <meta charset="UTF-8">
  <title>MY DUCK : WRITE</title>
  <!-- favicon -->
  <link rel="icon" href="img/favicon.ico" />
  <!-- css -->
  <link href="css/newArticle.css" rel="stylesheet" />
</head>
<body>
  <div>
    <section>
      <a href="/articles"><img src="img/logo.png"></a>
      <a href="/articles">MY DUCK</a>
    </section>
  </div>

  <form id="form" enctype="multipart/form-data" th:object="${gallery}" onsubmit="return false">
    <!--아이디 정보 저장-->
    <input type="hidden" id="article-id" th:value="${article.id}">
    <table>
      <tr>
        <td>
          <input type="text" id="title" name="title" placeholder="제목을 입력하세요" th:value="${article.title}">
        </td>
      </tr>
      <tr>
        <td>
          <textarea id="content" name="content" th:text="${article.content}"></textarea>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="button" class="btn" th:onclick="|location.href='@{/articles}'|">취소</button>
          <!--id가 있을 때는 [수정] 버튼을, 없을 때는 [등록] 버튼을 생성-->
          <button class="btn" th:if="${article.id} != null" type="button" id="modify-btn">수정</button>
          <button class="btn" th:if="${article.id} == null" type="button" id="create-btn">등록</button>
        </td>
      </tr>
    </table>
  </form>

</body>

<!-- article.js 파일 추가 -->
<script src="/js/article.js"></script>
<!-- jQuery -->
<script src="/js/jquery-3.7.0.js"></script>
<!-- CKEditor -->
<script src="/ckeditor/ckeditor.js"></script>
<!-- CKEditor 설정 -->
<script type="text/javascript" th:inline="javascript">
  $(function() {
		CKEDITOR.replace('content', {
		  removePlugins: 'exportpdf',
		  resize_enabled: false,
          font_names : "맑은 고딕/Malgun Gothic;굴림/Gulim;돋움/Dotum;바탕/Batang;궁서/Gungsuh;Arial/Arial;Comic Sans MS/Comic Sans MS;Courier New/Courier New;Georgia/Georgia;Lucida Sans Unicode/Lucida Sans Unicode;Tahoma/Tahoma;Times New Roman/Times New Roman;MS Mincho/MS Mincho;Trebuchet MS/Trebuchet MS;Verdana/Verdana",
          font_defaultLabel : "맑은 고딕/Malgun Gothic",
          fontSize_defaultLabel : "12",
          language : "ko",
          height: '420px'
		});
	});
</script>
</html>