<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MY DUCK : JOIN</title>
    <!-- favicon -->
    <link rel="icon" href="img/favicon.ico" />
    <!-- css -->
    <link href="css/signup.css" rel="stylesheet" />
    <!-- JavaScript -->
    <script src="/js/emailCheck.js"></script>
    <script src="/js/passwordCheck.js"></script>
</head>
<body>
    <div>
        <section>
            <a href="/articles"><img src="img/logo.png"></a>
            <a href="/articles">MY DUCK</a>
        </section>
    </div>

    <form th:action="@{/user}" method="POST">
        <!-- 토큰을 추가하여 CSRF 공격 방지 -->
        <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
        <table>
            <tr>
                <td>
                    <input type="email" id="email" name="email" placeholder="이메일" autocomplete="off" required>
                    <button type="button" onclick="emailCheck()">중복체크</button>
                    <p id="emailCheck"></p><!-- 중복체크 -->
                </td>
            </tr>
            <tr>
                <td><input type="password" name="password" placeholder="비밀번호" required autocomplete="new-password"></td>
            </tr>
            <tr>
                <td>
                    <input type="password" name="rePw" placeholder="비밀번호 확인" required autocomplete="new-password" onkeyup="passwordCheck()">
                    <p id="passwordCheckMessage"></p><!-- 비밀번호 일치 여부 메시지 -->
                </td>
            </tr>
            <tr>
                <td><input type="text" name="nickname" placeholder="닉네임" autocomplete="off" required></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">회원가입</button>
                    <a href="/oauth2/authorization/google">
                        <img src="/img/google_su.png">
                    </a>
                </td>

            </tr>
        </table>
    </form>
</body>
</html>